.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	width: 100%;
}
.header:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: rgba(255, 255, 255, 0.8);
}
.header__container{
	display: flex;
	align-items: center;
	min-height: 60px;
}
.header__body {
	font-weight: 700;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
@media (max-width: 800px) {
	.header__body {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 8px;
	}
}
/*LOGO-----------------------------------------------------------*/
.header__logo {
	position: relative;
	z-index: 10;
	padding: 12px 0;
	width: 100%;
	line-height: 120%;
	text-align: center;
}
.logo__text {
	color: #0786A5;
	margin: 0 0 8px 0;
}
@media (max-width: 800px) {
	.header__logo {
		text-align: left;
	}
}
.logo__link {
	font-size: 32px;
	font-weight: 700;
	color: #0786A5;
	letter-spacing: 5px;
}
.logo__link span{
	color: #FFD500;
}
@media (max-width: 450px) {
	.logo__text{
		font-size: 12px;
	}
	.logo__link {
		font-size: 28px;
		letter-spacing: 0;
	}
}
/*MENU------------------------------------------------------------*/
.header__row {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 10;
	background: #1BBAE1;
	padding: 8px 20px;
}
.menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.menu__list li {
	margin: 0 16px 0 0 ;
	position: relative;
}
.menu__list li:last-child {
	margin: 0;
}
.menu__link {
	font-size: 16px;
	padding: 4px;
	text-transform: uppercase;
	color: #fff;
	transition: all .6s ease;
}
.menu__list li:hover .menu__link {
	color: #2F4F4F;
	transition: all .6s ease;
}

/*MENU+BURGER-----------------------------------------------------------*/
@media (max-width: 800px) {
	.header__row {
		position: fixed;
		top: 0;
		left: -150%;
		width: 100%;
		height: 100%;
		z-index: 5;
		align-items: start;
		justify-content: space-between;
		padding: 95px 8px 0 8px;
		/*background: #ADD8E6;*/
		background: linear-gradient(to bottom, #ADD8E6, rgba(255, 213, 0, 0.9));
		transition: all .8s ease;
	}
	.header__row.active {
		left: 0;
		transition: all .8s ease;
	}
	.header__row:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 80px;
		background: #696969;
	}
	.menu__list {
		position: relative;
		justify-content: start;
		align-items: flex-start;
		flex-direction: column;
	}
	.menu__list li {
		margin: 0 0 15px 0;
		padding: 8px 0 8px 30px;
	}
	.menu__link {
		color: #696969;
		font-size: 20px;
	}
	.header__login {
		margin: 0 8px 0 0;
	}
}

/*SUB-MENU----------------------------------------------------------*/
.menu__sub-list{
	visibility: hidden;
	opacity: 0;
	transition: all .8s ease;
	/*display: none;*/
	position: absolute;
	left: 0;
	top: 100%;
	transform: translate(0px, 10px);
	min-width: 100px;
	background: #87CEEB;
	box-shadow: 0 0 10px #fff;
}
.menu__list li:hover .menu__sub-list {
	/*display: block;*/
	visibility: visible;
	opacity: 1;
	transition: all .8s ease;
}
.menu__sub-list li:first-child {
	padding: 10px 0 0 0;
}
.menu__sub-list li{
	margin: 0 0 10px 0;
}
.menu__sub-list li:last-child {
	margin: 0 0 10px 0;
}
.menu__sub-link {
	font-size: 16px;
	line-height: 120%;
	color: #fff;
	padding: 4px;
	font-weight: 500;
	transition: all .6s ease;
}
.menu__sub-link:hover{
	text-decoration: underline;
	color: #2F4F4F;
	transition: all .6s ease;
}

/*ARROW-SUBMENU------------------------------------------------------*/
@media (max-width: 800px) {
/*	.menu__link.parent-arrow{
		padding: 10px 30px 10px 10px;
	}*/
	.arrow {
		position: absolute;
		width: 0;
		height: 0;
		top: 14px;
		left: 10px;
		border-top: 9px solid #2F4F4F;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	}
	.arrow.active-arrow{
		transform: rotate(-180deg);
	}
/*	.menu__sub-list{
		display: none;
	}*/
/*	.menu__item.init{
		display: block;
	}*/
	.menu__sub-list.open-submenu {
		/*display: block;*/
			visibility: visible;
	opacity: 1;
	transition: all .8s ease;
	}
}

/*DONATE-HEADER--------------------------------------------------------------*/
/*.donate-header__link {
	display: block;
	font-size: 20px;
	padding: 6px 20px 10px;
	border-radius: 20px;
	color: #fff;
	background: #0786A5;
	transition: all .6s ease;
}*/
/*.donate-header:hover .donate-header__link {
	color: #2F4F4F;
	background: #FFD500;
	transition: all .6s ease;
}*/
/*BURGER------------------------------------------------------------*/
#burger-menu {
	display: none;
}
@media (max-width: 800px) {
	#burger-menu {
		display: block;
		background: transparent;
		flex: 0 0 30px;
		height: 20px;
		position: relative;
		z-index: 5;
		right: 0;
		top: 0;
	}
	#burger-menu span {
		width: 100%;
		height: 2px;
		background: #0786A5;
		position: absolute;
		left: 0px;
		transition: all .5s ease;
	}
	#burger-menu span:first-child {
		top: 0;
	}
	#burger-menu span:nth-child(2){
		top: 9px;
	}
	#burger-menu span:last-child {
		bottom: 0;
	}
	#burger-menu.open span:first-child {
		top: 9px;
		transform: rotate(225deg);
	}
	#burger-menu.open span:nth-child(2) {
		transform: rotateX(90deg);
	}
	#burger-menu.open span:last-child {
		top: 9px;
		transform: rotate(-225deg);
	}
}
