.donation__container {
  width: 100%;
}
.main-link__subanchor {
  font-weight: 700;
  color: #0786A5;
  padding: 0 5px 0 0;
  transition: all .6s ease;
}
.main-link__subanchor:hover {
  color: #144652;
  text-decoration: underline;
  transition: all .6s ease;
}
.donation__title {
  padding: 0 0 37px 0;
  color: #0786A5;
}
.donation__text {
  font-size: 18px;
  line-height: 25px;
  color: #144652;
  padding: 0 0 45px 0;
}
.donation__image {
  position: relative;
  padding: 0 0 25% 0;
}
.donation__subtitle {
  font-size: 48px;
  line-height: 65px;
  color: #0786A5;
  padding: 45px 0 70px;
}
@media (max-width: 768px) {
  .donation__subtitle {
    padding: 20px 0 28px;
    font-size: 36px;
    line-height: 44px;
  }
}
/*TABS------------------------------------------------*/
.donation__tabs {
  margin: 0 0 95px 0;
}
@media (max-width: 768px) {
  .donation__tabs {
    margin: 0 0 28px 0;
  }
}
.nav-tabs {
  display: flex;
  position: relative;
  transform: translateY(1px);
}
.nav-tabs__item {
  border: 1px solid #0786A5;
  margin: 0 17px 0 0;
  padding: 9px 19px;
  color: #0786A5;
  font-size: 16px;
  line-height: 22px;
}
@media (max-width: 768px) {
  .nav-tabs__item {
    font-size: 14px;
    padding: 4px 12px;
  }
}
.nav-tabs__item.tabs-active {
  background: #0786A5;
  color: #fff;
}
.nav-tabs__item:last-child {
  margin: 0;
}
.tabs-donation__pages {
  border: 1px solid #0786A5;
  box-sizing: border-box;
  padding: 0 0 48px 95px;
}
@media (max-width: 768px) {
  .tabs-donation__pages {
    padding: 0 0 24px 24px;
  }
}
.tabs-donation__page {
  display: none;
}
.tabs-donation__page.tabs-active {
  display: block;
}
.tabs-donation__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #0786A5;
  padding: 50px 0 0 0;
}
@media (max-width: 500px) {
  .tabs-donation__title {
    font-size: 14px;
    padding: 20px 0 0 0;
  }
}
.price-donation {
  display: flex;
  flex-wrap: wrap;
  padding: 14px 0;
}
.price-donation__item {
  background: #EAEAEA;
  border-radius: 20px;
  margin: 0 10px 0 0;
  font-size: 18px;
  line-height: 25px;
  color: #C4C4C4;
  padding: 3px 17px;
  cursor: pointer;
}
.price-donation__item:last-child {
  margin: 0;
}
@media (max-width: 500px) {
  .price-donation__item {
    margin: 0 10px 10px 0;
  }
  .price-donation__item:last-child {
    margin: 0 0 10px 0;
  }
}
.price-donation__item.sum-active {
  background: #1BBAE1;
  color: #fff;
}
.tabs-donation__form {
  margin: 0 0 20px 0;
}
.form-donation {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .form-donation{
    flex-direction: column;
  }
}
.form-donation__item:first-child {
  margin: 0 24px 0 0;
}
.input-text__custom {
  max-width: 270px;
  background: #EAEAEA;
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  padding: 10px 0 10px 48px;
  font-size: 18px;
  line-height: 25px;
  color:#1BBAE1;
  background: url(../image/donation-money.svg);
  background-repeat: no-repeat;
  background-position: 5%;
}
.input-text__custom {
  color: #1BBAE1;
}
.input-text__custom:focus,
.input-text__custom:focus-visible,
.input-text__custom:active {
  font-weight: 700;
  background: url(../image/donation-money-active.svg);
  background-repeat: no-repeat;
  background-position: 5%;
  border: 1px solid #1BBAE1;
}
.input-text__custom::-webkit-input-placeholder {
  color: #C4C4C4;
}
.input-text__custom::-moz-placeholder {
  color: #C4C4C4;
}
.input-text__error {
  padding: 4px 0 0 16px;
  min-height: 16px;
  font-size: 12px;
  color: #E32828;
}
.tabs-donation__btn:disabled {
  background: #C4C4C4;
  color: #fff;
  transition: all .6s ease;
}
.tabs-donation__btn {
  background: #1BBAE1;
  color: #fff;
  transition: all .6s ease;
}
.input-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .input-radio {
    margin: 20px 0 0 0;
  }
}
.input-radio__item:first-child {
  margin: 0 12px 0 0;
}
.input-radio__default {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.input-radio__custom {
  position: relative;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  color: #C4C4C4;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 8px 11px 10px;
  cursor: pointer;
  z-index: 2;
  transition: all .6s ease;
}
.input-radio__default:not(:disabled):not(:checked)+.input-radio__custom:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transition: all .6s ease;
}
.input-radio__default:checked+.input-radio__custom {
  border: 1px solid #1BBAE1;
  color: #1BBAE1;
  transition: all .6s ease;
}
